* {
  margin: 0;
  padding: 0;

  body {
    h1 {
      font-size: clamp(2.5rem, 4vw, 4rem);
      font-weight: 500;
    }

    h2 {
      font-size: clamp(1.5rem, 2.5vw, 4rem);
    }

    h3 {
      font-size: clamp(1.2rem, 1.8vw, 3rem);
    }

    p {
      font-size: clamp(1.1rem, 1.2vw, 2rem);
    }
  }
}

.card-component {
  margin: 2rem;
}

.card-list {
  flex: 1;
  flex-wrap: wrap;
  margin: 3rem;
  scrollbar-width: none;
  overflow-y: auto;
  width: 60%;
  cursor: pointer;
}

.listed-contents {
  display: flex;
  flex-direction: column;
  height: 90vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.search-input {
  height: 40px;
  width: 100%;
  background-color: transparent;
  color: #4b5563;
  margin-left: 1rem;
  margin-right: 0.5rem;
  font-size: 0.875rem;
}

.search-box {
  display: flex;
  padding-right: 1rem;
  padding-top: 0.2rem;
  padding-left: 1.5rem;
  border-radius: 1.5rem;
  border: 2px solid #bfdbfe;
  background-color: #ebf8ff;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 32rem;
  width: 380px;
  margin-left: auto;
  margin-right: auto;
}

input {
  outline: none;
  border: unset;
}

.detailCard {
  margin: 2rem 8rem;
}

.mantine-16gafg2 {
  background-color: #fff !important;
  border: 0.0625rem solid #ced4da !important;
  border-radius: 0.5rem !important;
}

.mantine-9kralg {
  color: #212529 !important;
}

.list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.sort-controls {
  display: flex;
  justify-content: center;

  align-items: center;
  gap: 1rem;
  border-radius: 1.5rem;
  border: 2px solid #bfdbfe;
  background-color: #ebf8ff;
  padding-right: 1rem;
  padding-top: 0.2rem;
  padding-left: 1.5rem;
  overflow: hidden;
  height: 50px;
}

.sort-controls option {
  font-size: 1rem;
}

.sort-controls select {
  font-size: 1rem;
  padding: 0.2rem 0.5rem;
  color: #4b5563;
}

.sort-select {
  cursor: pointer;
  min-width: 180px;
  height: 32px;
  box-shadow: 0 0 5px 2px rgba(215, 213, 213, 0.5);
  border-radius: 0.5rem;
  border: none;

  &:focus {
    box-shadow: 0 0 5px 2px rgba(215, 213, 213, 0.5);
    border: none;
    outline: none;
  }
}

.sort-btn {
  border: 1px solid rgb(181, 179, 179);
  border-radius: 0.3rem;
  background-color: white;
  margin: 0.5rem;
  font-size: 1rem;
  padding: 0.3rem 0.5rem;
  color: #4b5563;
  cursor: pointer;
  min-width: 60px;
  outline: none;

  &:hover {
    background-color: #228be6;
    outline: none;
    color: white;
  }

  &.active {
    border: 2px solid rgb(49, 90, 226);
  }
}

.logout-btn {
  background-color: #f65154;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.2rem;
  color: white;

  &:hover {
    color: black;
    background: white;
    border-radius: 0.5rem;
    border: 1px solid #05080b;
  }
}

.user-icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.user-icons .margin-top {
  margin-top: 1.25rem;
}

.mantine-1mn0h6w {
  width: auto !important;
}

@media screen and (max-width: 1024px) {
  .user-icons {
    grid-template-columns: 1fr;
  }

  .user-icons .margin-top {
    margin-top: 0;
  }
}

@media screen and (max-width: 800px) {
  .list-header {
    flex-direction: column;
  }
}

@media screen and (max-width: 800px) {
  .list-header {
    flex-direction: column;
  }
}

@media screen and (max-width: 630px) {
  .detailCard {
    margin: 1rem 2rem;
  }
}

@media screen and (max-width: 450px) {
  .card-component {
    margin: 2rem auto;
  }
}

@media screen and (max-width: 400px) {
  .sort-contents {
    display: flex;
  }
}
