* {
  margin: 0;
  padding: 0;
  body {
    h1 {
      font-size: clamp(2.5rem, 4vw, 4rem);
      font-weight: 500;
    }
    h2 {
      font-size: clamp(1.5rem, 2.5vw, 4rem);
    }
    h3 {
      font-size: clamp(1.2rem, 1.8vw, 3rem);
    }
    p {
      font-size: clamp(1.1rem, 1.2vw, 2rem);
    }
  }
}

.card-component {
  margin: 2rem;
}
.card-list {
  flex: 1;
  flex-wrap: wrap;
  margin: 3rem;
  scrollbar-width: none;
  overflow-y: auto;
  width: 60%;
  cursor: pointer;
}
.search-box {
  margin-top: 2rem;
}
.listed-contents {
  display: flex;
  flex-direction: column;
  height: 100vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.search-input {
  height: 40px;
  width: 100%;
  background-color: transparent;
  color: #4b5563;
  margin-left: 1rem;
  margin-right: 0.5rem;
  font-size: 0.875rem;
}

.search-box {
  display: flex;
  padding-right: 1rem;
  padding-top: 0.2rem;
  padding-left: 1.5rem;
  border-radius: 1.5rem;
  border: 2px solid #bfdbfe;
  background-color: #ebf8ff;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 32rem;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

input {
  outline: none;
  border: unset;
}

.detailCard {
  margin: 4rem 8rem;
  margin-left: 1rem;
  flex-grow: 2.5;
}
.mantine-16gafg2 {
  background-color: #fff !important;
  border: 0.0625rem solid #ced4da !important;
  border-radius: 0.5rem !important;
}
.mantine-9kralg {
  color: #212529 !important;
}

.logout-button {
  width: 10%;
  padding: 10px 20px;
  background-color: #007bff; /* Blue background */
  border: 2px solid #0056b3; /* Darker blue border */
  border-radius: 5px; /* Slightly rounded corners */
  color: white; /* White text color */
  cursor: pointer; /* Pointer cursor on hover */ /* Center the text */
  transition: background-color 0.3s; /* Smooth background transition */
}

.logout-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}
